<a class="post-card" href="{{ post.url }}">
    {% if post.data.image %}<div class="post-card__media"><img src="{{ post.data.image }}" alt="{{ post.data.title }}"></div>{% endif %}
    <div class="post-card__body">
        <h3 class="post-card__title">{{ post.data.title }}</h3>
        <p class="post-card__excerpt">{{ post.data.excerpt }}</p>
    </div>
</a>
